@font-face {
    font-family: 'Roboto';
    src: url('../assets/font/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSub';
    src: url('../assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoTxt';
    src: url('../assets/font/Roboto/Roboto-Light.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
}


