/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado */
.header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 30px; /* Altura del logo */
    width: auto; /* Ancho automático para mantener la proporción */
}

.user-actions {
    display: flex;
}

.user-actions a {
    margin-left: 20px; /* Espacio entre los enlaces */
    text-decoration: none;
    color: #fff; /* Color de texto blanco */
    font-weight: bold;
}

.user-actions a:hover {
    color: #fff; /* Cambia el color del texto al pasar el mouse */
    background-color: #007bff; /* Cambia el color de fondo al pasar el mouse */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    padding: 5px 10px; /* Añade espacio alrededor del texto */
}
